CQ_PORT={{aem_port}}
CQ_HOME={{aem_install_path}}
CQ_JVM_OPTS="{{aem_jvm_opts | join(' ')}}"
CQ_FILE_SIZE_LIMIT={{aem_file_size_limit}}
CQ_RUNMODE={{aem_all_runmodes | join(",")}}
CQ_JAAS_CONFIG=etc/jaas.config
CQ_USER={{aem_os_user}}
